<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Sensor -->
  <include file="$(find happymimi_bringup)/launch/sensor.launch" />

  <!-- Map server -->
  <!-- <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find happymimi_navigation)/launch/includes/amcl.launch.xml"/>

  <!-- Move base -->
  <include file="$(find happymimi_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
