<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Param -->
  <!-- Sensor -->
  <!-- <include file="$(find happymimi_bringup)/launch/sensor.launch" /> -->

  <!-- Locationの設定＆マップの読み込み -->
  <arg name="map_name" default="test_map"/>
  <rosparam file="$(find happymimi_params)/param/location/$(arg map_name).yaml"
            command="load" ns="/location_dict" />
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(find happymimi_navigation)/maps/$(arg map_name).yaml" />

  <!-- AMCL -->
  <include file="$(find happymimi_navigation)/launch/include/amcl.launch.xml"/>

  <!-- Move base -->
  <include file="$(find happymimi_navigation)/launch/include/move_base.launch.xml"/>

</launch>
