<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Node -->
  <node name="pub_human_tf" pkg="approach_person" type="pub_human_tf.py" />
  <node name="human_coord_generator" pkg="approach_person" type="human_coord_generator.py" output="screen" />
  <node name="approach_person_server" pkg="approach_person" type="approach_person.py" />

</launch>
